body{
    background-color: #ffa800;
    font-family: monospace;
}
h{
    font-size: 30px;
}
.tetap {
    position: static;
  }
.relatif1 {
    position: relative;
    background-color: #131c3d;
    color: #ffa800;
  }
.relatif2 {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: #131c3d;
    color: #ffa800;
    width: 500px;
  }
.fix {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: #131c3d;
    border: #131c3d;
    border-style: ridge;
    border-width: 2px;
    color: #ffa800;
  }
  .relative {
    position: relative;
    width: 600px;
    height: 400px;
  }
  .absolute {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: #dc0500;
    color: #131c3d;
  }